//変数インクルード
@import 'core_local';
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: style.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	footer
10.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
@include reset;
//compass
@include reset-html5;
//オリジナル
@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;


/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;

.box {
	padding: 120px 0 90px;
	@include sp() {
		padding: 10% 0;
	}

	&__title {
		position: relative;
		color: $main_color;
		font-size: 38px;
		font-weight: bold;
		border: none;
		text-align: center;
		@include sp() {
			@include fz_vw(24);
		}

		&__icon {
			@include border-radius(50%);
			position: absolute;
			left: 0;
			right: 0;
			top: 65px;
			width: 80px;
			height: 80px;
			margin: auto;
			background: $main_color;
			@include sp() {
				top: 35px;
				width: 40px;
				height: 40px;
			}

			&.-publications {
				background: #FFF;
			}

			img {
				width: 80px;
				height: 80px;
				@include sp() {
					width: 40px;
					height: 40px;
				}
			}
		}
	}

	&__inner {
		width: 1000px;
		margin: auto;
		@include sp() {
			width: 92%;
		}
	}
}

.link-more {
	position: relative;
	z-index: 1;
	width: 280px;
	margin: auto;
	@include sp() {
		width: 90%;
	}

	a {
		@include border-radius(25px);
		@include box-shadow(3px 3px 0 rgba($main_color, .3));
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 50px;
		background: $main_color;
		color: #FFF;
		font-size: 18px;

		&:before {
			@include rotate(45deg);
			display: inline-block;
			content: "";
			position: absolute;
			right: 22px;
			top: 0;
			bottom: 0;
			width: 7px;
			height: 7px;
			margin: auto;
			border-top: 3px solid #FFF;
			border-right: 3px solid #FFF;
		}

		&.-publications {
			@include box-shadow(3px 3px 0 rgba(#FFF, .3));
			background: #FFF;
			color: $main_color;

			&:before {
				border-color: $main_color;
			}
		}
	}
}

.breadcrumb-list {
	margin-bottom: 80px;
	padding: 0;
	@include sp() {
		display: none;
	}

	&__item {
		display: inline-block;

		a,
		span {
			color: $text_color;
			font-size: 14px;
			text-decoration: none;
		}

		i {
			margin-right: 0.2em;
		}

		&:not(:last-child) {
			&:after {
				content: "＞";
				position: relative;
				top: -1px;
				margin: 0 0.5em;
			}
		}
	}
}

.chapter {
	display: flex;
	margin: -15px 0 75px;
	@include sp() {
		flex-wrap: wrap;
		margin: -5% 4% 10%;
	}

	&__item {
		margin: 15px 20px 0 0;
		@include sp() {
			margin: 8% 3% 0 0;
		}

		a {
			position: relative;
			padding: 10px 30px 10px 17px;
			background: rgba($main_color, .1);
			color: $main_color;
			font-size: 14px;
			font-weight: bold;
			text-decoration: none;
			@include sp() {
				padding: 6px 30px 7px 11px;
				@include fz_vw(12);
			}

			&:after {
				@include box-sizing(initial);
				@include rotate(135deg);
				content: "";
				position: absolute;
				right: 12px;
				top: -3px;
				bottom: 0;
				width: 5px;
				height: 5px;
				margin: auto;
				border-top: 2px solid $main_color;
				border-right: 2px solid $main_color;
			}
		}
	}
}

/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;

#content {
	&.-contact {
		background: rgba($main_color, .05);
	}
}


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;


/*----------------------------------------------------------------------
9.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
10.	ページ別個別設定
----------------------------------------------------------------------*/

.main {
	&__fv {
		position: relative;
		height: 600px;
		@include sp() {
			height: auto;
		}

		&.-lower {
			display: flex;
			align-items: center;
			height: 300px;
			@include sp() {
				display: block;
			}
		}

		&__inner {
			width: 1000px;
			margin: auto;
			padding-top: 445px;
			@include sp() {
				display: flex;
				align-items: center;
				width: auto;
				padding-top: 0;
			}

			&.-lower {
				padding-top: 0;
				@include sp() {
					justify-content: flex-start;
					padding: 0 0 0 8%;
				}
			}
		}

		&__title {
			@include box-shadow(3px 3px 0 rgba(#000, .1));
			display: inline-block;
			position: relative;
			z-index: 10;
			padding: 20px 28px;
			background: $main_color;
			color: #FFF;
			font-size: 26px;
			font-weight: bold;
			@include sp() {
				margin: 40% 20% 0 0;
				padding: 4%;
				@include fz_vw(16);
			}

			&.-lower {
				@include text-shadow(0 0 5px rgba(#000, .75));
				@include box-shadow(none);
				padding: 0;
				background: none;
				font-size: 40px;
				@include sp() {
					margin: 0;
					@include fz_vw(28);
				}
			}
		}

		&__bg {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			text-align: center;

			img {
				width: 100%;
				height: 600px;
				object-fit: cover;
				@include sp() {
					height: auto;
				}
			}

			&.-lower {
				img {
					height: 300px;
				}
			}
		}
	}

	&__inner {
		width: 900px;
		margin: auto;
		padding: 15px 0 180px;
		@include sp() {
			width: auto;
			padding: 4% 0 20%;
		}

		&.-technology {
			width: 1000px;
		}
	}
}

.research {
	padding-bottom: 0;

	&__title {
		position: relative;
		padding-bottom: 170px;
		@include sp() {
			padding-bottom: 80px;
		}

		&:before {
			@include rotate(180deg);
			content:"";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 200px 100vw;
			border-color: transparent transparent  transparent rgba($main_color, .05);
			@include sp() {
				border-width: 0 0 100px 100vw;
			}
		}
	}

	&__bg {
		padding-bottom: 90px;
		background: rgba($main_color, .05);
		@include sp() {
			padding: 3% 0 15%;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 820px;
		margin-bottom: 50px;
		@include sp() {
			display: block;
			width: auto;
			margin: 0 4% 7%;
		}
	}

	&__text {
		width: 470px;
		font-size: 16px;
		line-height: (34/16);
		@include sp() {
			width: auto;
			margin-bottom: 5%;
			@include fz_vw(14);
			line-height: (26/14);
		}
	}
}

.publications {
	padding-bottom: 0;
	background: url("img/publications_bg.png") center center no-repeat $main_color;
	@include background-size(cover);

	&__title {
		margin-bottom: 140px;
		color: #FFF;
		@include sp() {
			margin-bottom: 80px;
		}
	}

	&__inner {
		position: relative;
		padding-bottom: 90px;
		@include sp() {
			padding-bottom: 15%;
		}
	}

	&__list {
		position: relative;
		z-index: 1;
		margin-bottom: 50px;
		padding: 35px 50px;
		background: #FFF;
		@include sp() {
			margin-bottom: 30px;
			padding: 3% 4%;
		}
	}

	&__item {
		font-size: 13px;
		line-height: (24/13);
		@include sp() {
			@include fz_vw(13);
		}

		&:not(:first-child) {
			padding-top: 25px;
			@include sp() {
				padding-top: 3%;
			}
		}
		&:not(:last-child) {
			padding-bottom: 25px;
			border-bottom: 1px solid #C7C4C3;
			@include sp() {
				padding-bottom: 3%;
			}
		}

		&__link {
			display: inline-block;
			margin-left: 12px;
			line-height: 1;

			a {
				display: inline-block;
				padding: 2px 4px 3px;
				background: $main_color;
				color: #FFF;
				font-size: 13px;
				text-decoration: none;
				@include sp() {
					@include fz_vw(13);
				}
			}
		}
	}

	&__pic {
		position: absolute;
		left: -150px;
		bottom: 0;
		@include sp() {
			display: none;
		}
	}
}

.news {
	padding-bottom: 0;

	&__title {
		padding-bottom: 170px;
		@include sp() {
			padding-bottom: 80px;
		}

		&:before {
			content:"";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 200px 0 0 100vw;
			border-color: transparent transparent  transparent rgba($main_color, .05);
			@include sp() {
				border-width: 100px 0 0 100vw;
			}
		}
	}

	&__bg {
		padding: 45px 0 90px;
		background: rgba($main_color, .05);
		@include sp() {
			padding: 3% 0 15%;
		}
	}

	&__inner {
		margin-bottom: 50px;
		@include sp() {
			margin-bottom: 30px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		@include sp() {
			display: block;
		}
	}

	&__item {
		width: 300px;
		background: #FFF;
		@include sp() {
			width: 100%;
		}

		&:not(:first-child) {
			margin-left: 50px;
			@include sp() {
				margin: 8% 0 0;
			}
		}

		a {
			display: block;
			position: relative;
			color: $text_color;
		}

		&__term {
			position: relative;
			height: 0;
			padding-top: (160%/300) * 100;

			img {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				margin: auto;
				object-fit: cover;
			}
		}

		&__description {
			padding: 22px 20px;
			font-size: 15px;
			line-height: (24/15);
		}

		&__date {
			display: block;
			margin-bottom: 15px;
			padding-bottom: 12px;
			color: $main_color;
			font-size: 15px;
			border-bottom: 1px solid #C7C4C3;
		}

		&__cate {
			position: absolute;
			right: 0;
			top: 0;
			padding: 4px 12px 6px;
			background: $main_color;
			color: #FFF;
			font-size: 14px;
		}
	}
}

.wp-pagenavi {
	display: flex;
	justify-content: center;
	margin-top: 90px;

	> * {
		@include border-radius(6px);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background: $main_color;
		color: #FFF;
		font-size: 18px;
		font-weight: 500;

		&:not(:last-child) {
			margin-right: 9px;
		}
	}

	.previouspostslink,
	.nextpostslink {
		font-size: 14px;
	}

	.current {
		color: initial;
		background: #DDD;
	}
}

.recruit {
	padding: 100px 0 150px;
	background: url("img/recruit_bg.png") center center no-repeat $main_color;
	@include background-size(cover);
	@include sp() {
		padding: 10% 0;
	}

	&__title {
		display: flex;
		align-items: center;
		width: 1000px;
		margin: 0 auto 40px;
		color: #FFF;
		font-size: 38px;
		font-weight: bold;
		@include sp() {
			width: 92%;
			margin: 0 auto 5%;
			@include fz_vw(24);
		}

		&__icon {
			@include border-radius(50%);
			display: inline-block;
			width: 80px;
			height: 80px;
			margin-right: 20px;
			background: #FFF;
			@include sp() {
				width: 40px;
				height: 40px;
				margin-right: 10px;
			}

			img {
				width: 80px;
				height: 80px;
				@include sp() {
					width: 40px;
					height: 40px;
				}
			}
		}
	}

	&__inner {
		position: relative;
	}

	&__text {
		position: relative;
		z-index: 1;
		margin-bottom: 40px;
		color: #FFF;
		font-size: 16px;
		line-height: (34/16);
		@include sp() {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: (26/14);
		}

		a {
			color: #FFF;
			font-weight: bold;
			text-decoration: underline;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		z-index: 1;
		margin-top: -20px;
		@include sp() {
			display: block;
			margin-top: 0;
		}
	}

	&__item {
		margin: 20px 25px 0 0;
		@include sp() {
			margin: 0;
		}

		&:not(:first-child) {
			@include sp() {
				margin: 3% 0 0;
			}
		}

		a {
			@include border-radius(6px);
			display: block;
			position: relative;
			padding: 13px 45px 13px 15px;
			background: #FFF;
			color: $main_color;
			font-size: 16px;
			font-weight: bold;
			@include sp() {
				@include fz_vw(14);
				text-decoration: none;
			}

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}

			&:before {
				@include border-radius(50%);
				display: flex;
				right: 11px;
				width: 18px;
				height: 18px;
				background: $main_color;
			}

			&:after {
				@include box-sizing(content-box);
				@include rotate(45deg);
				display: inline-block;
				right: 18px;
				width: 4px;
				height: 4px;
				border-top: 2px solid #FFF;
				border-right: 2px solid #FFF;
			}
		}
	}

	&__pic {
		position: absolute;
		right: -340px;
		top: -220px;
		@include sp() {
			display: none;
		}
	}
}



/* 下層ページ */

.lower {
	.block {
		&:not(:last-of-type) {
			margin-bottom: 70px;
		}

		&__title {
			@include opacity(.8);
			position: relative;
			margin-bottom: 45px;
			padding: 14px 30px 20px;
			background: $main_color;
			background: -moz-linear-gradient(left, $main_color 70%, #ffffff 100%);
			background: -webkit-linear-gradient(left, $main_color 70%,#ffffff 100%);
			background: linear-gradient(to right, $main_color 70%,#ffffff 100%);
			color: #FFF;
			font-size: 22px;
			border: none;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 5px;
				width: 100%;
				height: 1px;
				background: #FFF;
			}
		}

		&__subtitle {
			margin-bottom: 30px;
			font-size: 18px;
			font-weight: bold;
		}

		p {
			font-size: 15px;
			line-height: (32/15);

			&:not(:first-of-type) {
				margin-top: 20px;
			}
		}

		.pic {
			@include pie-clearfix;
			display: block;
			margin: 45px -15px;
			text-align: center;

			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			vertical-align: top;

			&.alignleft {
				float: left;
			}
			&.alignright {
				float: right;
			}
		}

		&__content {
			margin-top: 60px;

			&__title {
				margin-bottom: 32px;
				padding: 7px 0 18px 18px;
				font-size: 18px;
				font-weight: bold;
				border-bottom: 1px solid $main_color;
				border-left: 6px solid $main_color;
			}

			&__text {
				font-size: 15px;
				line-height: (30/15);

				em {
					font-weight: bold;
				}
			}

			&__pic {
				margin-top: 65px;
				text-align: center;

				&__caption {
					display: block;
					width: 760px;
					margin: 32px auto 0;
					font-size: 13px;
					line-height: (23/13);
					text-align: left;

					em {
						font-weight: bold;
					}
				}
			}
		}
	}

	.group {
		&__title {
			@include opacity(.8);
			position: relative;
			margin-bottom: 45px;
			padding: 14px 30px 20px;
			background: $main_color;
			background: -moz-linear-gradient(left, $main_color 70%, #ffffff 100%);
			background: -webkit-linear-gradient(left, $main_color 70%,#ffffff 100%);
			background: linear-gradient(to right, $main_color 70%,#ffffff 100%);
			color: #FFF;
			font-size: 22px;
			border: none;
			@include sp() {
				margin-bottom: 5%;
				padding: 3% 4% 4%;
				@include fz_vw(16);
			}

			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 5px;
				width: 100%;
				height: 1px;
				background: #FFF;
			}
		}
	}

	.member {
		&__group {
			&:not(:first-of-type) {
				margin-top: 120px;
				@include sp() {
					margin-top: 10%;
				}
			}
		}

		&__block {
			@include sp() {
				padding: 0 4%;
			}

			&:not(:first-of-type) {
				margin-top: 100px;
				@include sp() {
					margin-top: 10%;
				}
			}
		}

		&__info {
			display: flex;
			justify-content: space-between;
			@include sp() {
				display: block;
			}

			&__pic {
				width: 220px;
				@include sp() {
					float: left;
					width: 30%;
					margin-right: 4%;
				}
			}

			&__description {
				width: 630px;
				@include sp() {
					width: auto;
				}
			}

			&__name {
				display: flex;
				align-items: center;
				margin-bottom: 45px;
				font-size: 34px;
				font-weight: 600;
				@include sp() {
					display: block;
					margin-bottom: 4%;
					@include fz_vw(20);
				}

				.en {
					margin-left: 40px;
					font-size: 20px;
					@include sp() {
						display: block;
						margin: 2% 0 0;
						@include fz_vw(13);
					}
				}
			}

			&__degree {
				margin-bottom: 38px;
				color: $main_color;
				font-size: 18px;
				font-weight: 600;
				@include sp() {
					margin-bottom: 0;
					@include fz_vw(14);
				}
			}

			&__introduction {
				font-size: 15px;
				line-height: (30/15);
				@include sp() {
					clear: both;
					padding-top: 4%;
					@include fz_vw(13);
				}
			}
		}

		&__history {
			margin: 45px 0 20px;
			padding-bottom: 50px;
			border-bottom: 1px solid #B5B5B5;
			@include sp() {
				margin: 7% 0 5%;
				padding-bottom: 3%;
			}

			&__term {
				margin-bottom: 10px;
				color: $main_color;
				font-size: 18px;
				font-weight: 600;
				@include sp() {
					margin-bottom: 2%;
					@include fz_vw(16);
				}
			}

			&__description {
				font-size: 15px;
				line-height: (30/15);
				@include sp() {
					@include fz_vw(13);
				}
			}
		}

		&__footer {
			display: flex;
			justify-content: flex-end;
			@include sp() {
				display: block;
			}

			&__mail,
			&__website {
				@include sp() {
					padding-left: 30px;
				}

				&:before,
				&:after {
					content: "";
					position: absolute;
				}

				&:before {
					@include border-radius(4px);
					width: 30px;
					height: 28px;
					background: $main_color;
					@include sp() {
						width: 24px;
						height: 22px;
					}
				}

				&:after {
					color: #FFF;
					font-family: "Font Awesome 5 Free";
				}
			}

			&__mail {
				position: relative;
				font-size: 16px;
				@include sp() {
					margin-bottom: 15px;
					@include fz_vw(14);
				}

				&:before {
					left: -40px;
					top: -3px;
					@include sp() {
						left: 0;
					}
				}

				&:after {
					left: -32px;
					top: 4px;
					bottom: 0;
					content: "\f0e0";
					font-size: 15px;
					font-weight: normal;
					@include sp() {
						font-size: 12px;
						left: 6px;
						top: 3px;
					}
				}

				&__notice {
					display: block;
					margin-top: 10px;
					font-size: 13px;
					@include sp() {
						@include fz_vw(11);
					}
				}
			}

			&__website {
				position: relative;
				margin-left: 140px;
				@include sp() {
					margin: 0 0 25px 0;
				}

				&:before {
					left: -40px;
					top: -3px;
					@include sp() {
						left: 0;
					}
				}

				&:after {
					left: -32px;
					top: 6px;
					bottom: 0;
					content: "\f109";
					font-size: 12px;
					font-weight: bold;
					@include sp() {
						left: 6px;
						top: 3px;
						font-size: 10px;
					}
				}

				a {
					color: initial;
					font-size: 16px;
					text-decoration: underline;
					@include sp() {
						@include fz_vw(14);
					}
				}
			}

			&__sns {
				display: flex;
				margin-left: 50px;
				@include sp() {
					margin: 0;
				}

				&__item {
					width: 34px;

					&:not(:first-child) {
						margin-left: 10px;
					}

					img {
						width: 100%;
						@include sp() {
							width: auto;
						}
					}
				}
			}
		}
	}

	.publications {
		&__list {
			padding: 0;
		}

		&__item {
			position: relative;
			padding-left: 25px;
			list-style-type: none;
			counter-increment: number;

			&:before {
				position: absolute;
				left: 0;
				content: counter(number) ".";
				color: $main_color;
			}

			&:last-child {
				padding-bottom: 25px;
				border-bottom: 1px solid #C7C4C3;
			}
		}

		&__block {
			&:not(:last-of-type) {
				margin-bottom: 100px;
			}
		}
	}

	.news {
		&__list {
			margin-top: (-100px/3);
		}

		&__item {
			width: 200px;
			margin: (100px/3) (100px/3) 0 0;

			&:not(:first-child) {
				margin-left: 0;
			}

			&:nth-child(4n) {
				margin-right: 0;
			}

			&__term {
				padding-top: (130%/200) * 100;
			}

			&__description {
				padding: 12px 0 0;
				font-size: 14px;
				line-height: (24/14);
			}

			&__date {
				margin-bottom: 8px;
				padding-bottom: 8px;
			}

			&__text {
				text-decoration: underline;
			}
		}

		&__detail {
			&__title {
				margin-bottom: 30px;
				padding: 0px 0 13px 18px;
				font-size: 26px;
				font-weight: bold;
				line-height: (36/26);
				border-bottom: 1px solid $main_color;
				border-left: 6px solid $main_color;
			}

			&__info {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-bottom: 45px;
			}

			&__date {
				color: $main_color;
				font-size: 16px;
				font-weight: 500;
			}

			&__cate {
				display: flex;
				align-items: center;
				height: 24px;
				margin-left: 20px;
				padding: 0 12px;
				background: $main_color;
				color: #FFF;
				font-size: 14px;
			}

			&__content {
				font-size: 15px;
				line-height: (32/15);

				p {
					margin: 50px 0;
					font-size: 15px;
					line-height: (32/15);
				}

				> div {
					margin: auto;
				}

				a {
					color: $text_color;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}

				img {
					+ p {
						margin: 30px auto 0;
						font-size: 13px;
						line-height: (23/13);
					}
				}
			}

			&__pagenation {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 100px;
				padding-top: 40px;
				border-top: 1px solid #CCC;

				a {
					display: flex;
					align-items: center;
					color: $main_color;
					font-size: 16px;
					font-weight: 500;
				}

				i {
					@include border-radius(6px);
					display: flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
					background: $main_color;
					color: #FFF;
					font-size: 14px;
					text-decoration: none;
				}

				&__item {
					&.-prev {
						i {
							margin-right: 12px;
						}
					}

					&.-next {
						i {
							margin-left: 12px;
						}
					}

					&.-list {
						a {
							position: relative;
							padding-left: 1.5em;

							&:before,
							&:after {
								content: "";
								position: absolute;
								top: 0;
								bottom: 0;
								margin: auto;
							}

							&:before {
								@include border-radius(50%);
								display: flex;
								left: 0;
								top: 2px;
								width: 18px;
								height: 18px;
								background: $main_color;
							}

							&:after {
								@include box-sizing(content-box);
								@include rotate(45deg);
								display: inline-block;
								left: 7px;
								top: 2px;
								width: 4px;
								height: 4px;
								border-bottom: 2px solid #FFF;
								border-left: 2px solid #FFF;
							}
						}
					}

					a {
						text-decoration: none;
					}
				}
			}
		}
	}

	.photo {
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin-top: -40px;
		}

		&__item {
			width: 306px;
			margin: 40px 41px 0 0;

			&:nth-child(3n) {
				margin-right: 0;
			}

			a {
				display: block;
				color: initial;
				text-decoration: none;
			}

			img {
				display: block;
				width: 100%;
				min-width: auto;
				height: 200px;
				object-fit: contain;
				object-position: center;
				margin: 0 0 20px;
			}

			&__term {
				margin-bottom: 12px;
				font-size: 14px;
				font-weight: 600;
				line-height: (22/14);
			}

			&__description {
				font-size: 13px;
				line-height: (23/13);
			}
		}
	}

	.link {
		&__item {
			position: relative;

			&:before,
			&:after {
				@include box-sizing(content-box);
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}

			&:before {
				@include border-radius(50%);
				display: flex;
				left: 18px;
				width: 18px;
				height: 18px;
				background: $main_color;
			}

			&:after {
				@include rotate(45deg);
				display: inline-block;
				left: 23px;
				width: 4px;
				height: 4px;
				border-top: 2px solid #FFF;
				border-right: 2px solid #FFF;
			}

			&:not(:first-child) {
				margin-top: 11px;
			}

			a {
				display: block;
				color: initial;
				text-decoration: none;

				span {
					&:after {
						content: "\f35d";
						margin-left: 15px;
						color: #B5B5B5;
						font-family: "Font Awesome 5 Free";
						font-size: 14px;
						font-weight: bold;
					}
				}
			}

			span {
				display: flex;
				align-items: center;
				height: 48px;
				padding-left: 50px;
				color: initial;
				font-size: 16px;
				border: 1px solid #e1e1e1;
			}
		}
	}

	.contact {
		&__box {
			padding: 50px 90px 60px;
			background: #FFF;

			&__notice {
				margin-bottom: 15px;
				font-size: 13px;
				line-height: 1 !important;

				.required {
					position: relative;
					top: -1px;
					margin-right: 6px;
				}
			}

			form {
				text-align: center;

				p {
					margin: 0 !important;
					padding: 18px 0;
					font-size: 15px;
					line-height: 1;
					border-bottom: 1px solid #F0F0F0;

					&:last-of-type,
					&:nth-last-of-type(2) {
						border-bottom: none;
						padding: 0;
					}

					&:nth-last-of-type(2) {
						margin-top: 50px !important;
					}

					&:last-of-type {
						margin-top: 35px !important;
					}
				}

				label {
				}

				input,
				textarea {
					width: 400px;
					padding: 8px;
					background: #ECEDF2;
					border: none;
				}

				input {
					&[type="checkbox"] {
						position: relative;
						top: 2px;
						width: auto;
						margin-right: 8px;
					}

					&[type="submit"] {
						@include transition(all $mouseover linear);
						@include border-radius(25px);
						@include box-shadow(3px 3px 0 rgba($main_color, .3));
						display: flex;
						justify-content: center;
						align-items: center;
						position: relative;
						width: 240px;
						height: 50px;
						margin: auto;
						background: $main_color;
						color: #FFF;
						font-size: 18px;
						font-weight: bold;
						cursor: pointer;

						&:hover {
							@include opacity(.7);
						}
					}
				}

				textarea {
					height: 120px;
					resize: vertical;
				}
			}

			.required {
				@include border-radius(3px);
				padding: 1px 6px 3px;
				background: $main_color;
				color: #FFF;
				font-size: 11px;
			}
		}

		&__form {
			&__flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__title {
				display: flex;
				justify-content: space-between;
				width: 300px;
				font-weight: bold;

				.required {
					line-height: 1.5;
				}
			}
		}
	}

	.access {
		&__flex {
			display: flex;
			justify-content: space-between;

			> dl {
				width: 460px;
			}

			&__map {
				width: 400px;
			}
		}

		&__term {
			margin-bottom: 30px;
			padding-bottom: 12px;
			color: $main_color;
			font-size: 16px;
			font-weight: bold;
			border-bottom: 1px solid $main_color;

			&:not(:first-of-type) {
				margin-top: 50px;
			}
		}

		&__description {
			font-size: 15px;
			line-height: (30/15);
		}

		&__map {
			width: 400px;

			iframe {
				width: 100%;
				height: 330px;
				border: none;
			}
		}
	}
}

