@mixin layout-tags {
	html ,
	body {
		min-width: 1060px;
		height: 100%;
		@include sp() {
			min-width: auto;
		}
	}

	html {
		font-size: 100%;
	}

	body {
		-webkit-text-size-adjust: 100%;
		color: $text_color;

		* {
			@include box-sizing(border-box);
		}

	}

	a {
		& ,
		&:before ,
		&:after {
			@include transition(all $mouseover linear);
		}

		> * {
			@include transition(all $mouseover linear);
		}

		&:hover {
			@include opacity(.7);

			> * {
				text-decoration: none;
			}
		}
	}
}

@mixin layout-container {
	#container {
		position: relative;
		min-height: 100%;
		overflow-x: hidden;

		* html & {
			height: 100%;
		}

		body > & {
			height: auto;
		}
	}
}

@mixin common {
	//placeholderでやる必要性を検討
	//%pie {
	//	@include pie-element(relative);
	//}

	.fll {
		float: left;
	}

	.flr {
		float: right;
	}

	.sp_none {
		@include pc() {
			display: block;
		}
		@include sp() {
			display: none;
		}
	}

	.pc_none {
		@include pc() {
			display: none;
		}
		@include sp() {
			display: block;
		}
	}

	.right-nav {
		display: none;
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 1000;

		a {
			@include transition(opacity $mouseover linear);
			@include border-radius(50%);
			display: block;
			width: 60px;
			height: 60px;
			background: var(--vk-color-custom-1);
			@include sp() {
				width: 40px;
				height: 40px;
			}

			&:hover {
				@include opacity(.7);
			}
		}

		img {
			width: 60px;
			height: 60px;
			@include sp() {
				width: 40px;
				height: 40px;
			}
		}
	}

	#drawernav{
		@include pc() {
			display: none;
		}
	}

}

@mixin layout-header {
	.header {
		@include sp() {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			z-index: 30000;
			width: 100%;
		}

		&__upper {
			position: relative;
			background: var(--vk-color-custom-1);
		}

		&__title {
			padding: 21px 0 21px 35px;
			color: #FFF;
			font-size: 28px;
			font-weight: bold;
			@include sp() {
				padding: 4% 14% 4% 4%;
				@include fz_vw(22);
			}

			a {
				color: #FFF;
				font-weight: 600;

				&:hover, {
					&,
					small {
						@include opacity(.7);
					}
				}
			}

			small {
				display: block;
				margin-bottom: 14px;
				font-size: 16px;
				font-weight: normal;
				@include sp() {
					margin-bottom: 2%;
					@include fz_vw(11);
				}
			}
		}

		&__link {
			display: flex;
			position: absolute;
			right: 37px;
			bottom: 0;
			@include sp() {
				display: none;
			}

			&__item {
				margin-bottom: 0;

				&:first-child {
					margin-right: 15px;
				}

				a {
					display: block;
					position: relative;
					text-decoration: none;

					&:before {
						content: "";
						position: absolute;
					}

					&:hover {
						@include opacity(1);
						text-decoration: underline;
					}

					&.-en {
						padding: 15px 17px 15px 0;
						color: #FFF;
						font-size: 14px;

						&:before {
							@include border-radius(50%);
							display: flex;
							align-items: center;
							left: -20px;
							top: 16px;
							width: 14px;
							height: 14px;
							background: #FFF;
						}

						&:after {
							@include rotate(45deg);
							box-sizing: initial;
							display: inline-block;
							content: "";
							position: absolute;
							left: -16px;
							top: 20px;
							width: 3px;
							height: 3px;
							border-top: 2px solid var(--vk-color-custom-1);
							border-right: 2px solid var(--vk-color-custom-1);
						}
					}

					&.-contact {
						@include border-radius(14px 14px 0 0);
						display: flex;
						justify-content: center;
						align-items: center;
						position: relative;
						width: 180px;
						height: 100%;
						padding-left: 15px;
						background: #FFF;
						color: var(--vk-color-custom-1);
						font-size: 16px;
						font-weight: bold;

						&:before {
							display: flex;
							align-items: center;
							position: absolute;
							left: 23px;
							top: 3px;
							bottom: 0;
							content: "\f0e0";
							color: var(--vk-color-custom-1);
							font-family: "Font Awesome 5 Free";
							font-size: 20px;
							font-weight: normal;
						}
					}
				}
			}
		}

		&__lower {
			height: 80px;
			@include sp() {
				display: none;
			}
		}

		&__nav {
			&__list {
				display: flex;
				justify-content: space-between;
				width: 1000px;
				margin: auto;
			}

			&__item,
			li {
				width: 100%;
				border-right: 1px solid #B4B4B5;

				&:first-child {
					border-left: 1px solid #B4B4B5;
				}

				&:hover {
					a {
						@include opacity(1);
						background: #999;
						color: #FFF;
					}
				}

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 80px;
					color: $text_color;
					font-size: 16px;
					font-weight: bold;
				}

				&.-is-active {
					a {
						background: #999;
						color: #FFF;
					}
				}
			}
		}
	}
}

@mixin layout-content {
	#content {
	}
}

@mixin layout-main {

	.topicpath {
	}

	.topicpath-item {
	}

	.main {
	}

}

@mixin layout-footer {
	.footer {
		background: #082B5E;
		color: #FFF;

		&__inner {
			width: 1000px;
			margin: auto;
			padding: 35px 0;
			@include sp() {
				width: 92%;
				padding: 10% 0;
			}
		}

		&__upper {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #FFF;
			@include sp() {
				display: block;
				margin-bottom: 5%;
				padding-bottom: 5%;
			}
		}

		&__title {
			font-size: 24px;
			font-weight: bold;
			@include sp() {
				margin-bottom: 4%;
				@include fz_vw(22);
			}

			small {
				display: block;
				margin-bottom: 15px;
				font-size: 15px;
				font-weight: normal;
				@include sp() {
					margin-bottom: 8px;
					@include fz_vw(11);
				}
			}
		}

		&__sns {
			display: flex;

			&__item {
				&:not(:first-child) {
					margin-left: 18px;
					@include sp() {
						margin-left: 4%;
					}
				}

				img {
					@include sp() {
						width: 30px;
						height: 30px;
					}
				}
			}
		}

		&__lower {
			display: flex;
			justify-content: space-between;
			@include sp() {
				display: block;
			}
		}

		&__box {
			width: 500px;
			@include sp() {
				width: auto;
			}
		}

		&__address {
			font-size: 14px;
			line-height: (24/14);
			@include sp() {
				margin-bottom: 4%;
				@include fz_vw(13);
			}

			&:first-of-type {
				margin-bottom: 20px;
			}
		}

		&__logo {
			display: flex;
			@include sp() {
				width: 70%;
			}

			&__item {
				&:not(:first-child) {
					margin-left: 28px;
					@include sp() {
						margin-left: 8%;
					}
				}
			}
		}
	}
}
